.dados{
    display: grid;
    grid-template-columns: 350px 450px 350px;
    grid-template-areas: "s1" "formulario" "s2";
}

aside.s1{
    grid-area: s1;
}

aside.formulario{
    grid-area: formulario;
}

.cadastro-campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    padding-right: 350px;
}

.cadastro-campo label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.cadastro-campo input{
    border: #fff;
    border-radius: 8px;
    color: #000;
    background-color: #fff;
    height: 36px;
}

.tt{
    color: #fff;
    margin-top: 25px;
}

.sss{
    margin-right: 350px;
    margin-bottom: 40px;
}

.bt-salvar{
    color: #fff;
    background-color: rgb(36, 34, 34);
    border-radius: 10px;
    height: 50px;
}
.bt-salvar:hover {
    background-color: rgb(54, 54, 53);
  }

  .btn{
      width: auto;
      margin-right: 10px;
      margin-top: 5px;
      margin-bottom: 3px;

  }

  .tableCadastro{
      background-color: rgb(73, 72, 71);
  }
tbody.tr:hover{
    
    background-color: rgb(37, 37, 54);
}